.collection {
  background-color: var(--secondary-bg);

  &-wrapper {
    padding: 15px 0px 40px;
  }
  &-subtitle-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  &-subtitle-text {
    color: var(--subtitle-text);
    font-size: 18px;
  }
  &-location {
    color: var(--zomato-red);
    display: flex;
  }
  &-cover {
    height: 320px;
    width: 260px;
    margin-right: 20px;
    border-radius: 6px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
  }
  &-cover:hover {
    transform: scale(0.9);
  }
  &-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  &-card-title {
    position: absolute;
    left: 16px;
    bottom: 30px;
    font-size: 18px;
    color: white;
  }
  &-card-subtitle {
    display: flex;
    color: white;
    position: absolute;
    left: 16px;
    bottom: 10px;
    font-size: 14px;
  }
}
